In [1]:
import pandas as pd
import numpy as np

In [2]:
chipo = pd.read_csv('chipotle.tsv', sep='\t')

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [4]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
print(len(chipo))

print(chipo.shape[0])

4622
4622

In [7]:
print(chipo.shape[1])

5

In [8]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [10]:
most_ordered = chipo['item_name'].value_counts().idxmax()
most_ordered

'Chicken Bowl'

In [11]:
counts = chipo['item_name'].value_counts()
most_ordered_item= counts.idxmax()
most_ordered_count = counts.max()
print(most_ordered_item," ",most_ordered_count)

Chicken Bowl   726

In [12]:
most_choice = chipo['choice_description'].value_counts().idxmax()
most_choice_count = chipo['choice_description'].value_counts().max()
print(most_choice," ",most_choice_count)

[Diet Coke]   134

In [13]:
chipo['quantity'].sum()

4972

In [14]:
chipo['item_price'].dtype

dtype('O')

In [15]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

In [16]:
chipo['item_price'].dtype

dtype('float64')

In [17]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(str(x).replace('$', '')))
revenue = (chipo['quantity'] * chipo['item_price']).sum()
revenue

39237.02

In [18]:
u_order=chipo['order_id'].nunique()
u_order

1834

In [19]:
# What is the average revenue amount per order
avg=revenue/u_order
avg

21.39423118865867

In [20]:
chipo['item_name'].nunique()

50

In [21]:
chipo.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

In [22]:
count = chipo[chipo['item_price'] > 10.00].shape[0]
print(count)

1130

In [23]:
chipo[['item_name', 'item_price']]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

In [24]:
most_expensive_item = chipo[chipo['item_price'] == chipo['item_price'].max()]
quantity_ordered = most_expensive_item['quantity'].values[0]
print(quantity_ordered)

15

In [25]:
veggie_count = chipo[chipo['item_name'] == 'Veggie Salad Bowl'].shape[0]
print(veggie_count)

18

In [26]:
chipo[(chipo['item_name'] == 'Canned Soda')  & (chipo['quantity']>=2)].shape[0]

20