In [1]:
import pandas as pd
import numpy as np

In [3]:
series1 = pd.Series(np.random.randint(1, 5, size=100))
series2 = pd.Series(np.random.randint(1, 4, size=100))
series3 = pd.Series(np.random.randint(10000, 30001, size=100))

In [5]:
display(series1)
print("-"*50)
display(series2)
print("-"*50)
display(series3)
print("-"*50)

0     1
1     2
2     1
3     4
4     3
     ..
95    3
96    1
97    4
98    1
99    1
Length: 100, dtype: int32

--------------------------------------------------

0     2
1     1
2     2
3     1
4     2
     ..
95    1
96    1
97    1
98    3
99    3
Length: 100, dtype: int32

--------------------------------------------------

0     19500
1     18776
2     10971
3     15160
4     12965
      ...
95    23218
96    29221
97    13496
98    12483
99    20494
Length: 100, dtype: int32

--------------------------------------------------

In [11]:
bigcolumn = pd.concat([series1, series2, series3], axis=1)
bigcolumn.columns = ['bedrs', 'bathrs', 'price_sqr_meter']
display(bigcolumn.head())

   bedrs  bathrs  price_sqr_meter
0      1       2            19500
1      2       1            18776
2      1       2            10971
3      4       1            15160
4      3       2            12965

In [15]:
#yes last index is 99 because:
bigcolumn.tail(1)

    bedrs  bathrs  price_sqr_meter
99      1       3            20494

In [17]:
bigcolumn = bigcolumn.reindex(range(300)).fillna(0)

In [19]:
bigcolumn

     bedrs  bathrs  price_sqr_meter
0      1.0     2.0          19500.0
1      2.0     1.0          18776.0
2      1.0     2.0          10971.0
3      4.0     1.0          15160.0
4      3.0     2.0          12965.0
..     ...     ...              ...
295    0.0     0.0              0.0
296    0.0     0.0              0.0
297    0.0     0.0              0.0
298    0.0     0.0              0.0
299    0.0     0.0              0.0

[300 rows x 3 columns]